# OS stuff
thumbs.db
.directory

# compiler garbages
*.obj
*.o

# final binaries
*.lib
*.a
*.exe

#DUB
.dub
dub.selections.json
__*

# module unittested under nux,
classes
containers
enumset
logicver
math
memory
observer
properties
referencable
serializer
streams
strings
sugar
types

# misc
*.map
*.bak
temp